// Primary
$pure-white: #fff;
$deep-dark: #000;
$Links-hover: #333;
$burger-nav-background: #ebebeb;
$footer-background:#f5f5f5;

// shadow
$shadow-background-color: #0000009d;
// hover
$nav-hover-color: #000;
// logo
$logo-color: #414141;