// Primary
$pure-white: #fff;
$deep-dark: #000;
$Links-hover: #333;
$burger-nav-background: #ebebeb;
$footer-background:#f5f5f5;
$out-of-package: #808080;
$button-color: #29de73;
// border
$second-hero-img: #918f8f;



// shadows
$shadow-img: #00000065;
$shadow-cards: #cecccc;
// hover
$nav-hover-color: #000;
// logo
$logo-color: #414141;