@use 'colors' as *;
*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	
}
body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: $pure-white;
}
a {
	text-decoration: none;
	
}

ul,li {
	list-style: none;
}


