@use 'colors' as *;
@use 'general' as *;

@media (min-width: 992px) {
	// #######################
	// 									footer
	// #######################
	footer {
		.wrapper {
			padding: 2rem;
			max-width: 1200px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.footer-box {
				padding: 0;
				img {
					width: 6.5rem;
				}

				p {
					font-size: 5rem;
				}
			}
			&__box-items {
				justify-content: flex-end;

				.box-item {
					text-align: left;
					margin-left: 3rem;
					align-self: flex-start;
					width: 200px;
				}
				.title {
					font-size: 2.5rem;
				}
				.text {
					font-size: 1.8rem;
				}
			}
		}
		.copywrite {
			height: 6rem;
			.copywrite-text {
				font-size: 1.5rem;
				line-height: 6rem;
			}
		}
	}
	.about-us {
		&__img {
			height: 35rem;
		}
	}
	// #######################
	// 									Second hero-Img
	// #######################
	.hero-img {
		&__title-box {
			width: 55rem;

			.title {
				font-size: 2.5rem;
			}
		}
	}
}
// ###########################
// 										  Media - 1200px
// ###########################
@media (min-width: 1200px) {
	.mobile-nav {
		display: none;
	}
	// #######################
	//									Desktop Navigation
	// #######################
	.desktop-nav {
		display: block;
		width: 100%;
		background-color: $pure-white;

		.wrapper {
			display: flex;
			align-items: center;
			height: 9rem;

			.logo-box {
				display: flex;
				margin-left: 5rem;
			}
			.nav-links {
				width: 100%;
				margin-right: 2rem;
				a {
					font-size: 1.8rem;
					padding: 4rem;
				}

				ul {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
	// #######################
	// 								   First hero-Img
	// #######################
	.hero {
		&__img {
			img {
				height: 45rem;
				object-fit: cover;
				object-position: 0 75%;
			}
		}
	}
	// #######################
	// 								  About us section
	// #######################
	.about-us {
		&__title-main {
			font-size: 4rem;
			margin: 6rem 0 4rem 0;
		}
		&__img {
			height: 40rem;
		}
		&__text-container {
			.description-title {
				font-size: 3rem;
			}
			.description-text {
				width: 550px;
				font-size: 2rem;
			}
			.second-text {
				margin-top: 0;
			}
		}
	}
	// #######################
	// 								Second hero-Img
	// #######################

	.hero-img {
		margin: 6rem 0 6rem 0;

		&__title-box {
			width: 60rem;
			height: 8rem;

			.title {
				font-size: 3rem;
			}
		}
		&__img {
			.picture {
				height: 35rem;
			}
		}
	}
	// ##########################
	// 									Offers Section
	// ##########################
	.offers{
		.check-more{
			margin-right: 20rem;
		}
		&__title{
			font-size: 4rem;
		}
		&__text{
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}
