@use 'colors' as *;
@use 'general' as *;

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
	// Navigation
	.desktop-nav {
		display: block;
		width: 100%;
		background-color: $pure-white;

		.wrapper {
			display: flex;
			align-items: center;
			height: 8rem;
			.logo-box {
				display: flex;
				align-items: start;
				margin-left: 3rem;
				cursor: pointer;

				img {
					width: 4rem;
				}
				p {
					font-size: 3.5rem;
				}
			}

			.nav-links {
				width: 100%;
				margin-right: 2rem;
				a {
					font-size: 1.8rem;
					padding: 3rem;
				}

				ul {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
	// hero Background image
	.hero {
		&__img {
			img {
				object-fit: cover;
				object-position: 0 60%;
			}
		}
	}
	// about us section
	.about-us {
		&__box-item {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		&__img {
			width: 100%;
			margin-left: 3rem;
		}
		&__title-main {
			text-align: center;
			margin: 3rem 0 3rem 0;
			font-size: 3rem;
			font-weight: normal;
			text-transform: uppercase;
		}
		&__text-container {
			text-align: left;
			margin-left: 3rem;
			align-self: flex-start;
			width: 100%;

			.description-title {
				font-size: 2.5rem;
			}
			.description-text {
				margin: 0;
			}
			.second-text {
				margin-top: 1.5rem;
				margin-bottom: 1.5rem;
			}
		}
	}
}
