@use 'colors' as *;
@use 'general' as *;

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
	// #######################
	// 									Desktop	Navigation
	// #######################
	.desktop-nav {
		display: block;
		width: 100%;
		background-color: $pure-white;

		.wrapper {
			display: flex;
			align-items: center;
			height: 8rem;
			.logo-box {
				display: flex;
				align-items: start;
				margin-left: 3rem;
				cursor: pointer;

				img {
					width: 4rem;
				}
				p {
					font-size: 3.5rem;
				}
			}

			.nav-links {
				width: 100%;
				margin-right: 2rem;
				a {
					font-size: 1.8rem;
					padding: 3rem;
					color: $nav-hover-color;
					padding: 1rem 1.5rem;
					transition: background-color 0.3s, color 0.3s;
				}
				a:hover {
					background-color: $Links-hover;
					color: $pure-white;
				}
				ul {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
	// #######################
	// 									First Hero-Img
	// #######################
	.hero {
		&__img {
			img {
				object-fit: cover;
				object-position: 0 60%;
			}
		}
	}
	// #######################
	// 									About us section
	// #######################
	.about-us {
		&__box-item {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		&__img {
			width: 100%;
			margin-left: 3rem;
			height: 35rem;
		}
		&__title-main {
			text-align: center;
			margin: 3rem 0 3rem 0;
			font-size: 3rem;
			font-weight: normal;
			text-transform: uppercase;
		}
		&__text-container {
			text-align: left;
			margin-left: 3rem;
			align-self: flex-start;
			width: 100%;

			.description-title {
				font-size: 2.5rem;
				margin-top: 0;
			}
			.description-text {
				margin-right: 1.5rem;
				margin-left: 0;
			}
			.second-text {
				margin-top: 1.5rem;
				margin-bottom: 1.5rem;
			}
		}
	}
	// #######################
	// 									Second Hero-Img
	// #######################
	.hero-img {
		margin: 4rem 0 4rem 0;
		&__img {
			.picture {
				height: 35rem;
			}
		}
		&__title-box {
			width: 40rem;
			height: 6rem;
			border: 1px solid #ebebeb4d;

			.title {
				font-size: 2rem;
			}
		}
	}
	// #######################
	// 										Offer
	// #######################
}
